*{
    box-sizing: border-box;
}

img{
    height: auto;
}

body{
    position: absolute;
    background-color:#406343;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 1920px;
    height: 1080px;
    padding: 0;
    margin: 0 auto;
    color: #ffffff;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header{    
    position: absolute;
    z-index: 1;
    display: flex;
    top: 32px;
    left: 44px;
    right: 44px;
    justify-content: space-between;
    vertical-align: middle;
}

.main-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0 45px;
}
.main-nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.additional{
    display: flex;
    list-style: none;
   
    margin: 0;
    padding: 0;
    gap: 0 30px;
}
.additional button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.search_button{
    background: url("../src/search_icon.svg") 50% 50% no-repeat;
}
.login_button{
    background: url("../src/login_icon.svg") 50% 50% no-repeat;
}
.aditional_button{
    background: url("../src/aditional_icon.svg") 50% 50% no-repeat;
}
main{
    padding-top: 1px;
    width: 1920px;
    height: 100%;
    background: url("../src/background.jpg")  no-repeat;
}

.title{
    position: relative;
    border: 1px solid ;
    margin:  408px;
}
.square{
    position: absolute;
    left:291px;
    top:-30%;
}